body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(#1973c5, #1687c6);
    border: none;
    cursor: pointer;
}

.button:not(:last-of-type) {
    margin-right: 15px;
}

.tasks-container {
    padding: 30px;
}

.tasks-container > .title {
    display: block;
    font-size: 30px;
    margin-bottom: 50px;
}

.tasks-container .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

.task-container {
    padding: 20px;
    background: #bedaf9;
}

.text-wrapper {
    margin-bottom: 15px;
}

.input-wrapper {
    margin-bottom: 15px;
}
